@use '@/styles/common/import/variables' as *;


// sub_visual 포트폴리오 사진으로 바꾸기
.sub_visual {
  background: {
    image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/portfolio/portfolio_visual_bg.jpg);
    repeat: no-repeat;
    position: center;
    size: cover;
  }
}

// 전체 컨텐츠 위, 아래 여백
#contents_body {
  padding: 5rem 0;
}

// 포트폴리오
a {text-decoration: none;}
a:hover {text-decoration: none;}

// 포트폴리오 메뉴 버튼
.menuBtn {
  text-align: center;
  button {
    font: inherit;
    color: inherit;
    padding: 1rem 2rem;
    margin-top: 1.5625rem;
    word-break: keep-all;
    border: 1px solid #ECECEC;
    border-radius: 20px;
    &:hover {
      background: $main-color;
      color: $white-color;
      transition: .3s;
    }
  }
}


// 포폴
.portfolio-card:first-child {
  // border-top: 1px solid #ECECEC;
}

// 포트폴리오 리스트
.portfolio-card__link {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 1.8rem 0;
  border-bottom: 1px solid #ECECEC;
  overflow: hidden;
}

/* 이미지, + 아이콘 */
.portfolio-card__img {
  position: relative;
  min-height: 150px;
  overflow: hidden;

  // 검은 배경 오버레이
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($dark-color, .4); // 카드를 덮는 검은 반투명
    opacity: 0;
    transition: opacity .25s ease;
    z-index: 2; // 텍스트, 이미지 위로 올라옴
  }

  
  &::after {
    opacity: 0;
    transition: opacity .5s;
    content: '';
    display: block;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba($white-color, .9);
  }

  // 포트폴리오 이미지
  img {
    width: 100%;
    height: 100%;
    display: block;
    transition: transform 0.5s ease; /* 0.3초 동안 부드럽게 변화 */
  }

  i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    color: $main-color;
    opacity: 0;
    transition: opacity .5s;
    z-index: 5; // 오버레이보다 위
  }


  .portfolio-card__link:hover &::after,
  .portfolio-card__link:focus-visible &::after,
  .portfolio-card__link:hover & i,
  .portfolio-card__link:hover &::before,
  .portfolio-card__link:focus-visible & i,
  .portfolio-card__link:focus-visible &::before {
    opacity: 1;
  }
}

// 호버시 이미지 확대
.portfolio-card__img {
  overflow: hidden;
}
.portfolio-card__link:hover .portfolio-card__img img {
  transition: transform 0.4s ease; 
  transform: scale(1.1); /* 120% 크기로 확대 */
}

.portfolio-card__link {
  &:hover {
    .portfolio-card__img {
      img {
        transition: transform 0.4s ease; 
        transform: scale(1.2); /* 120% 크기로 확대 */
      }
    }

    .portfolio-card__view {
      color: $main-color;
    }
  }
}


@keyframes eff-move {
  0% {
    transform: translateX(0)
  }
  50% {
    transform: translateX(-8px) 
  }
  100% {
    transform: translateX(0)
  }
}

/* 텍스트 영역 */
.portfolio-card__body {
  position: relative;
  z-index: 1; // 기본은 이미지 위
  display: grid;
  gap: 10px;
  line-height: 1.5625; 
  word-break: keep-all;
  margin-left: .5rem;
  .portfolio-card__view {
    // display: none;
    text-align: end; 
    margin-right: 2.5rem;
  }
}

// 대전세잔직업전문학교
.portfolio-title {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-bottom: 1px solid $dark-color;
  align-items: end;
  padding-bottom: 1.6rem;
  margin-bottom: 5rem;

  // 홈 아이콘
  span {
    display: inline-block;
    text-align: end;
    font-size: 3rem;
    a {
      display: inline-block;
      text-decoration: none;
    }
    &:hover {
      color: $main-color;
    }
  }
}

.portfolio {
  display: flex;
  flex-direction: column-reverse;
  gap: 5rem;

}

.portfolio-detail {
  display: grid;
  grid-template-columns: auto minmax(20rem, 45rem);
  gap: 5rem;
  
  // 상세페이지 이미지
  .portfolio-img {
    img{
      width: 100%;
      height: 100%;
    }
  }
}

.portfolio-bg { 
  background: #f9f9f9;
}

// 포트폴리오 정보
.portfolio-cont {
  height: 35rem;
  padding: 5rem;
  width: 100%;
  h3 { text-align: center; }
  span {
    display: block;
    text-align: center;
  }

  // 포트폴리오 소개
  .portfolio-into {
    margin-top: 2.6rem;
    li {
      display: grid;
      grid-template-columns: 10rem auto;
      gap: 1rem;
      align-items: center;
      margin-top: 1.5625rem;
      word-break: keep-all;
      h4 {
        font-size: 2rem;
        position: relative;
        &::after {
          content: '';
          display: block;
          width: .2rem;
          height: 2rem;
          position: absolute;
          top: 3px;
          right: 6px;
          background: rgba($main-color, .7);
        }
      }
      p {font-size: 1.7rem;}
      a {
        font-size: 1.7rem;
        color: $sub-color;
      }
    }
  }
}




// 768px 이상 가로 배치
@media (min-width:768px) {
  .portfolio-card__link {
    grid-template-columns: 40rem 1fr;
    padding: 2rem 0;
    gap: 4.5rem;
  }
  .portfolio-card__img { max-height: 21.3rem; }
  .portfolio-card__title { margin-top: .4rem; }
  .portfolio-card__desc { font-size: 1.8rem; }
  .portfolio-card__date { font-size: 1.4rem; color: $gray-color; }
  .portfolio-card__name { font-size: 1.6rem; }
  .portfolio-card__view { 
    margin: 2rem .5rem 0 0; 
  }

  .portfolio-detail {
    display: grid;
    grid-template-columns: auto minmax(20rem, 45rem);
    gap: 5rem;
  }

  // 포트폴리오 정보
  .portfolio-cont {
    position: sticky;
    top: 0;
    padding: 2rem;
  }
}
