@use './import/variables' as *;
@forward '@/assets/font/font';
//@forward './import/variables';
// @forward './import/elements';
// @forward './import/mixin';
// @forward './import/animation';

html { font-size: 10px; }

body {
  font: {
    family: 'Pretendard GOV', Arial, Helvetica, sans-serif;
    size: 1.6rem;
    weight: 400;
  }
  line-height: 1.5;
}

a { text-decoration: none; color: inherit; }

/* head */
h1 {font-size: 3rem; font-weight: 700;}
h2 {font-size: 2.8rem; font-weight: 700;}
h3 {font-size: 2.6rem; font-weight: 700;}
h4 {font-size: 2.4rem; font-weight: 700;}
h5 {font-size: 2.2rem; font-weight: 700;}
h6 {font-size: 2rem;}

/* inner */
.inner {
  padding:0 2rem;
}

/* Top Button */
#topBtn {
  position: relative;
  opacity: 0;
  visibility: hidden;
  transition: .35s;
  z-index: 999;
  &.scrolled {
    opacity: 1;
    visibility: visible;
    z-index: 999;
  }
  button {
    position: fixed;
    bottom: 100px;
    right: 20px;
    background:#d7d7d7;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    z-index: 999;
    i {
      font-size: 3rem;
      color: $gray-color;
    }
  }
}

@media all and (min-width: 1200px) {
  .inner {
    max-width: 1280px;
    margin: 0 auto;
  }
}

@media all and (min-width:1440px) {
  .inner {
    max-width: 1440px;
    margin: 0 auto;
    padding:0;
  }
}

@media all and (min-width:1921px) {
  .inner {
    max-width: 1440px;
  }
}

/* 반응형 font-size 설정 */
@media (max-width: 1024px) {
  html { font-size: 9px; }
}

@media (max-width: 768px) {
  html { font-size: 8px; }
}
