@use '@/styles/common/import/variables' as *;
@use '@/styles/common/import/mixin' as *;

footer {
  .inner {
    @include flexCenter();
    padding:2rem;
  }
  .familySite {
    margin: 2rem;
    .site__wrap {
      position: relative;
      z-index: 95;  
      .selected {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
        width: 100%;
        height: 4.6rem;
        line-height: 4.6rem;
        font-size: 1.6rem;
        font-weight: 500;
        color: rgba(255,255,255,.8);
        background:#353942;
        border-radius: 3px;
        box-sizing: border-box;
        text-align: left;
        
      }
      .site__list {
        display: none;
        position: absolute;
        bottom: 4.5rem;
        max-height: 40rem;
        width: 100%;
        background:#353942;
        border-radius: 3px 3px 0 0;
        border-bottom: 1px solid rgba(255,255,255,.1);
        a {
          display: block;
          padding:1.5rem 2rem;
          color: rgba(255,255,255,.8);
          text-decoration: none;
          font-size: 1.4rem;
          &:hover {
            background:#272a31;
          }
        }
      }
      .active {display: block;}
    }
  }
  .footer {
    background: $dark-color;
    color: $white-color;
    .ftr__menu {
      border-bottom: 1px solid $gray-color;
      ul {
        display: flex;
        li {
          a {
            font-size: 1.4rem;
            padding-right: 2rem;
          }
          .privacy {
            color: #fba8b8;
          }
        }
      }
    }

    .ftr__info {
      padding: 2rem;
      .ftr__logo {
        display: none;
      }
      address {
        margin-top: 1.5rem;
        font-style: normal;
        color: $gray-color;
        font-size: 1.4rem;
        line-height: 1.6;
        .light {
          color: $border-color;
          padding-right: 1rem;
        }
        small {
          display: block;
          margin-top: 1rem;
          opacity: .5;
        }
      }
      .sns {
        margin-top: 2rem;
        button {
          svg {
            width: 3.5rem;
            height: 3.5rem;
            color: $gray-color;
          }
          .ico__youtube:hover {
            color: $main-color;
          }
          .ico__facebook:hover {
            color: $sub-color;
          }
          .ico__insta:hover {
            color: #c81aeb;
          }
        }
      }
    }
  }
}