@use '../common/import' as *;

.notice {
  .sub_visual {
    background: {
      image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/community/notice_bg.jpg);
      position: center;
    }
  }

  .notice__container {
    overflow-x: hidden;
  }
  
  .common__top {
    margin-bottom: 0;
  }

  table {
    tr {
      &:hover {
        td {
          background: {
            color: #f7f8f9;
          }
        }
      }
    }
  }
}

/* Notice Detail */
.notice__detail {
  padding: 1.5rem 0;
  border: {
    width: 2px 0 2px;
    style: solid;
    color: #202226;
  }

  .title__wrap {
    padding: {
      bottom: 1.5rem;
    }
    border-bottom: 1px solid #DDDDDD;
    text: {
      align: center;
    }

    h4 {
      margin-bottom: 1rem;
    }

    span {
      position: relative;
      display: inline-block;
      vertical-align: top;
      color: #666;

      &:first-of-type {
        &::after {
          content: '';
          display: inline-block;
          width: 1px;
          height: 10px;
          margin: 0 .5rem 0 1rem;
          background-color: #666;
        }
      }
    }
  }

  .detail__content {
    padding: {
      left: 1.5rem;
      right: 1.5rem;
    }

    .title {
      margin: {
        top: 3rem;
        bottom: 1.5rem;
      }
      font: {
        size: 1.8rem;
        weight: 500;
      }
    }
  }

  + .detail__btn__container {
    border-top: 0;
    padding-top: 0;
  }
}


/* Responsive */
@media all and (min-width: 768px) {
  .notice__detail {
    padding: 2.5rem 0;

    .title__wrap {
      padding: {
        bottom: 2.5rem;
      }
    }

    .detail__content {
      padding: {
        left: 2.5rem;
        right: 2.5rem;
      }
    }
  }
}