$main-color: #E6204B;
$dark-color: #202226;
$sub-color: #4C46F6;
$border-color: #dddddd;
$job-name-color: #2b91fe;
$white-color: #fff;

$inner-width: 1280px;

$line-height: 1.5;

$body-font-size: 1.6rem;
$content-font-size: 1.5rem;